networkx
pandas
numpy
torch
tqdm
matplotlib
scikit-learn
scipy
igraph                  
leidenalg               
pyarrow
fastparquet
brokenaxes
ipython                
pyscipopt               
numba                   
binpacking
openai
python-dotenv
pyyaml
